<%= turbo_frame_tag post, class: "block" do%>
  <div class="bg-white rounded-lg shadow p-6">
    <!--Post Header-->
    <div class="flex items-center">
      <div class="flex items-center">
        <%= image_tag post.author.avatar_url, class: "avatar", alt: "#{post.author.name} avatar" %>
        <div class="ml-6">
          <p class="text-sm font-medium"><%= post.author.name %></p>
          <time datetime="<%= post.created_at %>" class="text-xs font-mono font-light text-neutral-400">
            <%= time_ago_in_words(post.created_at) %> ago
          </time>
        </div>
      </div>
      <% if post.author == current_user %>
        <div class="ml-auto flex items-center space-x-3">
          <%= button_to post, 
                      method: :delete, 
                      class: "aspect-square p-1.5 rounded-lg bg-neutral-50 text-neutral-500 cursor-pointer hover:bg-neutral-100 transition",
                      data: { turbo_confirm: "Are you sure to delete this post?" } do %>
            <%= icon "trash", class: "size-4" %>
            <span class="sr-only">delete</span>
          <% end %>
          <%= link_to edit_post_path(post), 
                      class: "aspect-square p-1.5 rounded-lg bg-neutral-50 text-neutral-500 cursor-pointer hover:bg-neutral-100 transition",
                      data: { "turbo_frame": "_top" } do  %>
            <span class="sr-only">edit</span>
            <%= icon "pencil", class: "size-4" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!--Post Body-->
    <div class="pt-8 text-sm">
      <div class="mb-2">
        <p><%= post.title %></p>
      </div>
      <div>
        <p class="text-neutral-500"><%= post.content %></p>
      </div>
    </div>
  </div>
<% end %>